/* comment */

body{
  margin:0px ;
  padding:0px;
  font-family: 'Roboto';
  display:flex;
  flex-direction: row;
}

*:focus{
  outline:none;
}

.sidebar{
  background-color:rgb(25, 146, 212) ;
  padding-left:20px;
  padding-top:15px;
  color:white;
  min-width: 250px;
  max-width: 250px;
}

.title{
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.options{
  margin-top:3rem;
  margin-left: 0.8rem;
  display:grid;
  grid-template-columns: repeat(2,40px);
  grid-template-rows: repeat(6,40px);
  gap:10px;
}

.options>div{
  font-weight:500;
  font-size:1.1em;
  text-align: center;
  padding-top: 6px;
}

.settings{
  margin-top:3rem;
  margin-left: 0.8rem;
  display:grid;
  grid-template-columns: repeat(2,40px);
  grid-template-rows: repeat(3,40px);
  gap: 10px;
}

.settings >div{
  font-weight:500;
  font-size:1.1em;
  text-align: center;
  padding-top: 6px; 
}

#icons{
  width:2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg)
  brightness(99%) contrast(102%);
  
}

#logo{
  width:4rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(345deg)
  brightness(99%) contrast(102%);
  padding-right:0.9rem;
}

.content{
  display:flex;
  flex-direction: column;
  width:1000%;
}

.header{
  display:flex;
  flex-direction:column;
  box-shadow: 15px 5px 4px rgb(204, 209, 216);
  z-index: 1;
}

.top{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
}


.magnify{
  width:1.5rem;
  padding-right:0.8rem;
}

#search{
  width:45em;
  height:30px;
  border-radius: 14px;
  outline :none;
  border: 0 solid lightgray;
  background-color: rgb(226, 232, 240);
}

.bell{
  width:1.5rem;
  height:auto;
}

.profile{
  width:2.7rem;
  filter: invert(82%) sepia(53%) saturate(1938%) 
  hue-rotate(340deg) brightness(107%) contrast(112%);
}

.top >.right{
  display: flex;
  flex-direction: right;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  padding-right:3.0rem;
}

.top>.left{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left:4.0rem;
}

.bottom{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left:3.8rem;
  padding-right:3rem;
  padding-bottom:0.8rem;
}

.bottom>div{
  display:flex;
  flex-direction: row;
  padding-top:0.8rem;
  justify-content:left;
  align-items:top;
}

.pfpBig{
  width: 4rem;
  padding-right:0.5rem;
  filter: invert(82%) sepia(53%) saturate(1938%) 
  hue-rotate(340deg) brightness(107%) contrast(112%);
}

.buttons{
  width:fit-content;
  display:flex;
  justify-content: flex-end;
  align-items: top;
  padding-top:17px;
  gap:2.8em;
}

#quickButtons{
  outline:none;
  border: 0.5px solid white;
  border-radius: 30px;
  width: 7em;
  height:2.9em;
  background-color: rgb(25, 146, 212);
  color:white;
  font-weight: 600;
}

#quickButtons:hover{
  cursor:pointer;
}

.mainContent{
  background-color: rgb(226, 232, 240);
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.Projects{
  position:relative;
  left:6rem;
}


.part1{
  display:grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(3,200px);
  padding-top:4rem;
  gap:3rem;
}

.box{
  background-color:rgb(255, 255, 255) ;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bottom shadow */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.passage{
  padding-left:20px;
  width:300px;
  text-wrap: wrap;
  font-weight: 400;
}


.threeIcons{
  display:flex;
  flex-direction:row;
  justify-content: right;
  gap:20px;
  padding-right: 2rem;
}

#shares{
  width:1.5rem;
}

.part2{
  display:flex;
  flex-direction: column;
  padding-left:7rem;
}

.announcements{
  padding-bottom: 2rem;
}

.alerts{
  height:26rem;
  width:23rem;
  background-color: white;
  border-radius:10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bottom shadow */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#alerts{
  width:300px;
  font-weight: 400;
}

#Title{
  font-weight: 700;
}

.people{
  display: flex;
  flex-direction: column;
  height:15rem;
  width:23rem;
  background-color: white;
  border-radius:10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bottom shadow */
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.people > div{
  display:flex;
  flex-direction: row;
  gap: 3rem;
}

.people > div> p{
  font-weight: 400;
}

#pics {
  width: 4rem;
  border-radius: 80%;
}



